<h1> Welcome to LeetSpeak Translator. What is a LeetSpeak?</h1>

<form action="/Leetspeak/created" method="post">
  <div class = "form-group">
    <label for="name">Enter a phrase:</label>
    <input class = "form-control"  id="name" name="name" type="text" required="true" tite="Please fill in the form">
  </div>
  <button type="submit"  class="btn btn-default center-block" >Submit</button>
</form>

  <br>
  <br>

  <h2>Bored of Leetspeak, Try Queen Attack!</h2>
  <form action="/queenAttack/created" method="post">
    <div class = "form-group">
      <label for="name">Enter X coordinate for Queen:</label>
      <input class = "form-control"  id="queenx" name="queenx" type="number" required="true" tite="Please fill in the form">
    </div>
    <div class = "form-group">
      <label for="name">Enter Y coordinate for Queen:</label>
      <input class = "form-control"  id="queeny" name="queeny" type="number" required="true" tite="Please fill in the form">
    </div>
    <div class = "form-group">
      <label for="name">Enter X coordinate for user:</label>
      <input class = "form-control"  id="userx" name="userx" type="number" required="true" tite="Please fill in the form">
    </div>
    <div class = "form-group">
      <label for="name">Enter a Y coordinate for user:</label>
      <input class = "form-control"  id="usery" name="usery" type="number" required="true" tite="Please fill in the form">
    </div>
    <button type="submit"  class="btn btn-default center-block" >Submit</button>
  </form>

<h2>Get your time in Degrees.</h2>
<form action="/ClockAngle/created" method="post">
  <div class = "form-group">
    <label for="name">Enter hour:</label>
    <input class = "form-control"  id="hour" name="hour" type="number" required="true" tite="Please fill in the form">
  </div>
  <div class = "form-group">
    <label for="name">Enter Minutes:</label>
    <input class = "form-control"  id="minute" name="minute" type="number" required="true" tite="Please fill in the form">
  </div>
  <button type="submit"  class="btn btn-default center-block" >Submit</button>
</form>





<p>
  @Model
</p>
